.products {
  color: #333;
  padding: 20px;
}

.products__search-label {
  font-size: 18px;
}

.products__search {
  text-align: center;
  margin-bottom: 20px;
}

.products__autocomplete {
  width: 250px;
}

.products__content {
  width: 50%;
  margin: 0 auto;
}

.products__table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.products__td,
.products__th {
  padding: 10px 5px;
}

.products__th {
  text-align: left;
}

.products__td {
  vertical-align: top;
}

.product__image-wrapper {
  height: 150px;
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.proudcts__image {
  width: 100%;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

 .products__tr {
   height: 100px;
 }

.products__btn {
  border: 1px solid #ddd;
}
