<div class="products">
  <div class="products__search">
    <label for="" class="products__search-label">Search:</label>
    <app-autocomplete [src]="searchItems" (onSelect)="onSelect($event)"
      (onAutocomplete)="getProducts()" class="products__autocomplete">
    </app-autocomplete>
    <button type="button" class="products__btn" (click)="getProducts()">
      Reset
    </button>
  </div>
  <div class="products__content">
    <table class="products__table">
      <thead>
        <tr>
          <th class="products__th">Photo</th>
          <th class="products__th">Name</th>
          <th class="products__th">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="products__tr" *ngFor="let product of products">
          <td class="products__td">
            <div class="product__image-wrapper">
              <img src="assets/images/{{product.photo}}" class="proudcts__image">
            </div>
          </td>
          <td class="products__td">{{product.name}}</td>
          <td class="products__td">{{product.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
