<div class="autocomplete">
  <input type="text" class="autocomplete__input"
    [(ngModel)]="searchTerm"
    (keyup)="searchTermChanged.next($event.target.value)"
    (keydown)="onKeyDown($event)">
  <div #autocomplete__dropdown class="autocomplete__dropdown"
    *ngIf="dropdownVisible">
    <div class="autocomplete__dropdown-el" [appHighlight]="searchTerm"
      [ngClass]="{'autocomplete_active': selectedElementIdx === idx}"
      (mouseenter)="elementHover(idx)"
      (click)="confirmSelected(item.sourceIdx)"
      *ngFor="let item of matchedItems; let idx = index">
      {{item.text}}
    </div>
  </div>
</div>
