.autocomplete {
  display: inline-block;
  position: relative;
}
.autocomplete,
.autocomplete__input {
  width: inherit;
}

.autocomplete__dropdown {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
  background-color: #fff;
  position: absolute;
  top: 100%;
  z-index: 9999;
}

.autocomplete__dropdown-el {
  padding: 5px 10px;
  font-size: 16px;
  line-height: 20px;
}

.autocomplete__dropdown-el:hover {
  cursor: pointer;
}

.autocomplete_active {
  display: block;
  background-color: #337ab7;
  color: #fff;
}
