/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

button,
input {
  padding: 5px 10px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
